In [2]:
import pandas as pd

In [3]:
import sys
import os
sys.path.append(os.path.abspath("../scripts"))

In [10]:
#importing the class InsuranceEDA from scripts folder
from scripts import *
from Insurance_eda import InsuranceEDA

In [5]:
df=pd.read_csv("..\\Data\\output.csv", low_memory=False)

In [14]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [28]:
df.shape

(1000098, 52)

# Basic Eda for Insurance Data

In [6]:
eda = InsuranceEDA(df)

In [11]:
# basic eda
eda.display_info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  datetime64[ns]
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   datetime64[ns]
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(11), int64(4), object(34)
memory usage: 390.1+ MB

First 5 Rows:
   UnderwrittenCoverID  PolicyID TransactionMonth  IsVATRegistered  \
0               145249     12827       2015-03-01             True
1               145249     12827       2015-05-01             True
2               145249     12827       2015-07-01             True
3               145255     12827       2015-05-01             True
4               145255     12827       2015-07-01             True

  Citizenship          LegalType Title Language                 Bank  \
0              Close Corporation    Mr  English  First National Bank
1              Close Corporation    Mr  English  First National Bank
2              Close Corporation    Mr  English  First National Bank
3              Close Corporation    Mr  English  First National Bank
4              Close Corporation    Mr  English  First National Bank

       AccountType  ...                    ExcessSelected CoverCategory  \
0  Current account  ...             Mobility - Windscreen    Windscreen
1  Current account  ...             Mobility - Windscreen    Windscreen
2  Current account  ...             Mobility - Windscreen    Windscreen
3  Current account  ...  Mobility - Metered Taxis - R2000    Own damage
4  Current account  ...  Mobility - Metered Taxis - R2000    Own damage

    CoverType            CoverGroup              Section  \
0  Windscreen  Comprehensive - Taxi  Motor Comprehensive
1  Windscreen  Comprehensive - Taxi  Motor Comprehensive
2  Windscreen  Comprehensive - Taxi  Motor Comprehensive
3  Own Damage  Comprehensive - Taxi  Motor Comprehensive
4  Own Damage  Comprehensive - Taxi  Motor Comprehensive

                           Product StatutoryClass StatutoryRiskType  \
0  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
1  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
2  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
3  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
4  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant

   TotalPremium TotalClaims
0     21.929825         0.0
1     21.929825         0.0
2      0.000000         0.0
3    512.848070         0.0
4      0.000000         0.0

[5 rows x 52 columns]

In [12]:
#converting_date to Datetime
eda.convert_dates(['TransactionMonth', 'VehicleIntroDate'])

Date columns converted.

In [13]:
#Descriptive statistics
eda.descriptive_statistics(['TotalPremium', 'TotalClaims', 'SumInsured', 'CalculatedPremiumPerTerm'])

Descriptive Statistics:
       TotalPremium   TotalClaims    SumInsured  CalculatedPremiumPerTerm
count  1.000098e+06  1.000098e+06  1.000098e+06              1.000098e+06
mean   6.190550e+01  6.486119e+01  6.041727e+05              1.178757e+02
std    2.302845e+02  2.384075e+03  1.508332e+06              3.997017e+02
min   -7.825768e+02 -1.200241e+04  1.000000e-02              0.000000e+00
25%    0.000000e+00  0.000000e+00  5.000000e+03              3.224800e+00
50%    2.178333e+00  0.000000e+00  7.500000e+03              8.436900e+00
75%    2.192982e+01  0.000000e+00  2.500000e+05              9.000000e+01
max    6.528260e+04  3.930921e+05  1.263620e+07              7.442217e+04

In [26]:
eda.check_outliers(['TotalPremium', 'TotalClaims', 'SumInsured', 'CalculatedPremiumPerTerm'])

Outlier Counts:
{'TotalPremium': 209042, 'TotalClaims': 2793, 'SumInsured': 104294, 'CalculatedPremiumPerTerm': 175508}