In [1]:
import pandas as pd

In [2]:
import sys
import os
sys.path.append(os.path.abspath("../scripts"))

In [3]:
from data_preprocessing import *

In [4]:
df=pd.read_csv('../Data/cleaned_data.csv')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_7340\934967411.py:1: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../Data/cleaned_data.csv')

In [5]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      1000098 non-null  object
 9   AccountType               1000098 non-null  object
 10  MaritalStatus             1000098 non-null  object
 11  Gender                    1000098 non-null  object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    1000098 non-null  float64
 19  VehicleType               1000098 non-null  object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      1000098 non-null  object
 22  Model                     1000098 non-null  object
 23  Cylinders                 1000098 non-null  float64
 24  cubiccapacity             1000098 non-null  float64
 25  kilowatts                 1000098 non-null  float64
 26  bodytype                  1000098 non-null  object
 27  NumberOfDoors             1000098 non-null  float64
 28  VehicleIntroDate          1000098 non-null  object
 29  CustomValueEstimate       1000098 non-null  float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000098 non-null  object
 33  NewVehicle                1000098 non-null  object
 34  WrittenOff                1000098 non-null  object
 35  Rebuilt                   1000098 non-null  object
 36  Converted                 1000098 non-null  object
 37  CrossBorder               1000098 non-null  object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

In [5]:
from encoding_cat import *

In [6]:
feature_engineer = FeatureEngineering(df, target_variable="TotalClaims")

In [7]:
feature_engineer.create_vehicle_age()

In [8]:
cols_to_drop = ['UnderwrittenCoverID','PolicyID' 'TransactionMonth', 'PostalCode', 'Title', 'Bank','NumberOfVehiclesInFleet','Country','Language','Citizenship']
feature_engineer.drop_unnecessary_columns(cols_to_drop)

Dropping columns: ['UnderwrittenCoverID', 'PolicyIDTransactionMonth', 'PostalCode', 'Title', 'Bank', 'NumberOfVehiclesInFleet', 'Country', 'Language', 'Citizenship']

In [9]:
feature_engineer.encode_high_cardinality()

Encoding Model using target encoding (high cardinality: 411 unique values)
Encoding VehicleIntroDate using target encoding (high cardinality: 174 unique values)
Encoding CapitalOutstanding using target encoding (high cardinality: 1011 unique values)

In [10]:
location_cols = ['MainCrestaZone', 'SubCrestaZone','AccountType','Product','Section','VehicleType','make','ItemType','LegalType']
feature_engineer.frequency_encode(location_cols)

In [11]:
categorical_cols = ['AccountType','StatutoryRiskType','StatutoryClass']
feature_engineer.label_encode(categorical_cols)

Encoding AccountType using Label Encoding
Encoding StatutoryRiskType using Label Encoding
Encoding StatutoryClass using Label Encoding

In [ ]:
col_hot_encod=['Province','Gender','MaritalStatus']
feature_engineer.one_hot_encode(col_hot_encod)

In [14]:
skewed_cols = ['TotalClaims', 'TotalPremium']
feature_engineer.log_transform(skewed_cols)

c:\Users\lenovo\OneDrive\Desktop\10Academy Files\week_3\Alpha_care\new3\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [14]:
feature_engineer.create_interaction_features()

c:\Users\lenovo\OneDrive\Desktop\10Academy Files\week_3\Alpha_care\scripts\encoding_cat.py:65: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['PremiumPerInsured'].replace([float('inf'), -float('inf')], 0, inplace=True)
c:\Users\lenovo\OneDrive\Desktop\10Academy Files\week_3\Alpha_care\scripts\encoding_cat.py:66: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['PremiumPerInsured'].fillna(0, inplace=True)

In [15]:
binary_cols = ['NewVehicle', 'TrackingDevice', 'WrittenOff', 'Rebuilt', 'Converted']
processed_df=feature_engineer.binary_encode(binary_cols)

Handling non-binary values in column: NewVehicle
Handling non-binary values in column: TrackingDevice
Handling non-binary values in column: WrittenOff
Handling non-binary values in column: Rebuilt
Handling non-binary values in column: Converted
Feature engineering complete.

In [18]:
missing_cols = df.columns[df.isnull().any()].tolist()
feature_engineer.handle_missing_values(missing_cols)

In [16]:
processed_df.head()

,PolicyID,TransactionMonth,IsVATRegistered,LegalType,AccountType,MainCrestaZone,SubCrestaZone,ItemType,mmcode,VehicleType,...,Province_North West,Province_Northern Cape,Province_Western Cape,Gender_Male,Gender_Not specified,MaritalStatus_Not specified,MaritalStatus_Single,PremiumPerInsured,ClaimRatio,PremiumPerClaim
0,12827,2015-03-01 00:00:00,True,0.002459,2,0.042164,0.042164,1.0,44069150.0,0.934058,...,False,False,False,False,True,True,False,2500.000000,0.0,2.192982e+06
1,12827,2015-05-01 00:00:00,True,0.002459,2,0.042164,0.042164,1.0,44069150.0,0.934058,...,False,False,False,False,True,True,False,2500.000000,0.0,2.192982e+06
2,12827,2015-07-01 00:00:00,True,0.002459,2,0.042164,0.042164,1.0,44069150.0,0.934058,...,False,False,False,False,True,True,False,2500.000000,0.0,0.000000e+00
3,12827,2015-05-01 00:00:00,True,0.002459,2,0.042164,0.042164,1.0,44069150.0,0.934058,...,False,False,False,False,True,True,False,0.004901,0.0,5.128481e+07
4,12827,2015-07-01 00:00:00,True,0.002459,2,0.042164,0.042164,1.0,44069150.0,0.934058,...,False,False,False,False,True,True,False,0.004901,0.0,0.000000e+00

In [17]:
processed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 56 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   PolicyID                     1000098 non-null  int64
 1   TransactionMonth             1000098 non-null  object
 2   IsVATRegistered              1000098 non-null  bool
 3   LegalType                    1000098 non-null  float64
 4   AccountType                  1000098 non-null  int64
 5   MainCrestaZone               1000098 non-null  float64
 6   SubCrestaZone                1000098 non-null  float64
 7   ItemType                     1000098 non-null  float64
 8   mmcode                       1000098 non-null  float64
 9   VehicleType                  1000098 non-null  float64
 10  make                         1000098 non-null  float64
 11  Model                        1000098 non-null  float64
 12  Cylinders                    1000098 non-null  float64
 13  cubiccapacity                1000098 non-null  float64
 14  kilowatts                    1000098 non-null  float64
 15  bodytype                     1000098 non-null  object
 16  NumberOfDoors                1000098 non-null  float64
 17  VehicleIntroDate             1000098 non-null  float64
 18  CustomValueEstimate          1000098 non-null  float64
 19  AlarmImmobiliser             1000098 non-null  object
 20  TrackingDevice               1000098 non-null  int64
 21  CapitalOutstanding           1000098 non-null  float64
 22  NewVehicle                   1000098 non-null  int64
 23  WrittenOff                   1000098 non-null  int64
 24  Rebuilt                      1000098 non-null  int64
 25  Converted                    1000098 non-null  int64
 26  CrossBorder                  1000098 non-null  object
 27  SumInsured                   1000098 non-null  float64
 28  TermFrequency                1000098 non-null  object
 29  CalculatedPremiumPerTerm     1000098 non-null  float64
 30  ExcessSelected               1000098 non-null  object
 31  CoverCategory                1000098 non-null  object
 32  CoverType                    1000098 non-null  object
 33  CoverGroup                   1000098 non-null  object
 34  Section                      1000098 non-null  float64
 35  Product                      1000098 non-null  float64
 36  StatutoryClass               1000098 non-null  int64
 37  StatutoryRiskType            1000098 non-null  int64
 38  TotalPremium                 1000098 non-null  float64
 39  TotalClaims                  1000098 non-null  float64
 40  VehicleAge                   1000098 non-null  int64
 41  Province_Free State          1000098 non-null  bool
 42  Province_Gauteng             1000098 non-null  bool
 43  Province_KwaZulu-Natal       1000098 non-null  bool
 44  Province_Limpopo             1000098 non-null  bool
 45  Province_Mpumalanga          1000098 non-null  bool
 46  Province_North West          1000098 non-null  bool
 47  Province_Northern Cape       1000098 non-null  bool
 48  Province_Western Cape        1000098 non-null  bool
 49  Gender_Male                  1000098 non-null  bool
 50  Gender_Not specified         1000098 non-null  bool
 51  MaritalStatus_Not specified  1000098 non-null  bool
 52  MaritalStatus_Single         1000098 non-null  bool
 53  PremiumPerInsured            1000098 non-null  float64
 54  ClaimRatio                   1000098 non-null  float64
 55  PremiumPerClaim              1000098 non-null  float64
dtypes: bool(13), float64(24), int64(10), object(9)
memory usage: 340.5+ MB

In [18]:
processed_df.head()

,PolicyID,TransactionMonth,IsVATRegistered,LegalType,AccountType,MainCrestaZone,SubCrestaZone,ItemType,mmcode,VehicleType,...,Province_North West,Province_Northern Cape,Province_Western Cape,Gender_Male,Gender_Not specified,MaritalStatus_Not specified,MaritalStatus_Single,PremiumPerInsured,ClaimRatio,PremiumPerClaim
0,12827,2015-03-01 00:00:00,True,0.002459,2,0.042164,0.042164,1.0,44069150.0,0.934058,...,False,False,False,False,True,True,False,2500.000000,0.0,2.192982e+06
1,12827,2015-05-01 00:00:00,True,0.002459,2,0.042164,0.042164,1.0,44069150.0,0.934058,...,False,False,False,False,True,True,False,2500.000000,0.0,2.192982e+06
2,12827,2015-07-01 00:00:00,True,0.002459,2,0.042164,0.042164,1.0,44069150.0,0.934058,...,False,False,False,False,True,True,False,2500.000000,0.0,0.000000e+00
3,12827,2015-05-01 00:00:00,True,0.002459,2,0.042164,0.042164,1.0,44069150.0,0.934058,...,False,False,False,False,True,True,False,0.004901,0.0,5.128481e+07
4,12827,2015-07-01 00:00:00,True,0.002459,2,0.042164,0.042164,1.0,44069150.0,0.934058,...,False,False,False,False,True,True,False,0.004901,0.0,0.000000e+00

In [24]:
processed_df.to_csv('processed_data.csv', index=False)

In [4]:
from data_preprocessing import *

In [5]:
file_path='../Data/processed_data.csv'

In [6]:
data_prep=DataPreprocessor(file_path,'TotalClaims')

In [7]:
data_prep.load_data()

In [8]:
data_prep.scale_features()

In [9]:
X_train, X_test, y_train, y_test=data_prep.split_data()

In [ ]:
X_train.head()

,PolicyID,TransactionMonth,IsVATRegistered,LegalType,AccountType,MainCrestaZone,SubCrestaZone,ItemType,mmcode,VehicleType,...,Province_North West,Province_Northern Cape,Province_Western Cape,Gender_Male,Gender_Not specified,MaritalStatus_Not specified,MaritalStatus_Single,PremiumPerInsured,ClaimRatio,PremiumPerClaim
448476,-0.329427,2015-04-01 00:00:00,False,0.310864,0.747268,-1.063212,-0.535367,0.0,0.380708,0.265639,...,False,False,True,False,True,True,False,-0.344070,-0.007078,-0.323715
629423,-1.422426,2015-04-01 00:00:00,False,0.310864,0.747268,-1.169800,-0.708998,0.0,-3.188779,0.265639,...,False,False,False,False,True,True,False,-0.344070,-0.007078,-0.351709
293724,-0.698234,2015-05-01 00:00:00,False,0.310864,0.747268,-0.582954,0.386566,0.0,0.380708,0.265639,...,False,False,False,False,True,True,False,-0.344069,-0.007078,-0.351709
793115,0.881529,2015-06-01 00:00:00,False,0.310864,-1.296609,1.393167,-0.087915,0.0,0.380708,0.265639,...,True,False,False,False,True,True,False,-0.344071,-0.007078,-0.351709
120459,-0.206933,2015-07-01 00:00:00,False,0.310864,-1.296609,0.180722,1.812252,0.0,0.380708,0.265639,...,False,False,False,False,True,True,False,-0.344071,-0.007078,-0.340493

In [11]:
X_train.to_csv('../Data/X_train.csv', index=False)
X_test.to_csv('../Data/X_test.csv', index=False)
y_train.to_csv('../Data/y_train.csv', index=False)
y_test.to_csv('../Data/y_train.csv', index=False)

# TRAINING THE MODEL